{% extends '_main.html' %}

{% block head %}
    <title>DeVoS - Governance</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/governance.css') }}">

{% endblock %}


{% block body %}
    <h1>Governance Overview</h1>
    <div id="proposal-data">
        <div style="width:100%">
            <div id="proposal-data-total">
                <h3>Total Proposals:</h3>
                <p> Fetching ...</p>
            </div>
        </div>
        <div>
            <div class="proposal-data-meta">
                <h5>Running Proposals</h2>
                <p>Fetching ...</p>
            </div>
            <div class="proposal-data-meta">
                <h5>Completed Proposals</h2>
                <p>Fetching ...</p>
            </div>
        </div>
    </div>
    <div id="proposal-view">
        <div class="proposal-view-recent">
            <ul>
                <li id="proposal-view-recent-one">Proposal #1</li>
                <li id="proposal-view-recent-two">Proposal #2</li>
                <li id="proposal-view-recent-thr">Proposal #3</li>
                <li id="proposal-view-recent-fou">Proposal #4</li>
                <li id="proposal-view-recent-fiv">Proposal #5</li>
            </ul>
        </div>
        <div id="proposal-view-create">
        <ol>
            <li>
                <h4>Create new Proposal</h4>
                <p>Create a new proposal to the community.</p>
            </li>
            <li>
                <h4>Show all proposals</h4>
                <p>Looking for some other proposal? View here.</p>
            </li>
            <li>
                <h4>Help</h4>
                <p>Need help? Click this!</p>
            </li>
            <li>
                <h4>Report an error</h4>
                <p>Found something odd? Contact us.</p>
            </li>
        </ol>
    </div>
    </div>

{% endblock %}
